.footer {
   position: fixed;
   left: 0;
   bottom: 5px;
   width: 100%;
   text-align: center;
}

li {
   color: #ffffff;
   background-color: #4f4f4f;
}

.ss {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
} 
