.footer {
   position: fixed;
   left: 0;
   bottom: 5px;
   width: 100%;
   text-align: center;
}

body {
   background-color: #85007c;
   color: #f1dbff;   
}

li {
   color: #ffffff;
   background-color: #4f4f4f;
   padding: 10px;
   transition-duration: 0.4s;
}

li:hover {
   color: #4f4f4f;
   background-color: #ffffff;
}

a {
   color: #ffcffc; !important 
}

.ss {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
} 
